body {
  padding-top: 66px;
}

.navbar {
  background: rgb(0, 74, 173);
  background: linear-gradient(
    90deg,
    rgba(0, 74, 173, 1) 0%,
    rgba(203, 108, 230, 1) 100%
  );
}

.logo-link {
  text-decoration: none !important;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1%;
  color: #99a1ff;

  img {
    margin-right: 10px;
    object-fit: contain;
    max-width: 56px;
    height: auto;
  }
}

@media (max-width: 575px) {
  .sidebar {
    background: linear-gradient(
      180deg,
      rgba(0, 74, 173, 1) 0%,
      rgba(203, 108, 230, 1) 100%
    ) !important;
  }
}

.logo:hover {
  color: #c6c7ff;
}

.title {
  display: flex;
  font-family: Bungee, sans-serif;
  font-size: 24px;
  line-height: 24px;
}

.link:hover {
  color: gainsboro !important;
}

@media (max-width: 575px) {
  .link {
    color: white !important;
    border-bottom: 1px white !important;
  }

  .link:hover {
    color: #bebebe !important;

    span {
      color: #bebebe !important;
    }
  }
}
