#welcome-text {
    font-family: Bungee, sans-serif;
    color: #7843e6;
    display: block;
}

#sign-up-button {
    font-size: calc(1rem + 1vw);
}

span.slogan-text {
    line-height: 75%;
    font-size: calc(2rem + 2vw);
}

