@font-face {
    font-family: "Bungee";
    src: url("../assets/fonts/Bungee-Regular.ttf") format("truetype");
}

.slogan-text {
    font-family: Bungee, sans-serif;
    color: #7843e6;
    text-shadow: calc(-0.05rem + -0.05vw) calc(0.05rem + 0.05vw) #ff00ff,
    calc(0.05rem + 0.05vw) calc(-0.05rem + -0.05vw) #00ffff;
}

body {
    background-color: #fcfcff !important;
}

.ll-button {
    background-color: #8c52ff;
    border: none;
    color: white;
    border-radius: 5vw;
}

.ll-button:hover {
    background-color: #7a3aff;
}