@font-face {
    font-family: "Bungee";
    src: url("../assets/fonts/Bungee-Regular.ttf") format("truetype");
}

.slogan-text {
    font-family: Bungee, sans-serif;
    color: #7843e6;
    text-shadow: -1px 1px #ff00ff,
    1px -1px #00ffff;
}

body {
    background-color: #fcfcff !important;
}

.ll-button {
    background-color: #7843e6;
    color: #ffffff;
    padding: 0.7% 0.7%;
    border: none;
}
.ll-button:hover {
    background-color: #6c31e7;
}