.profile-picture {
    height: calc(3rem + 3vh);
    width: calc(3rem + 3vw);
}

.connection-name {
    font-family: Bungee, sans-serif;
    color: #7843e6;
}

.text-box {
    background-image: linear-gradient(to right, #FFF6AE, #FFABF8);
    font-size: calc(0.5rem + 0.5vw);
}