.title{
    font-size: 10px;
    text-align: center;
    max-width: 400px;
}
.image {
    height: 150px;
    width: 200px;
    border: #99a1ff;
}

.description{

    font-size: 5px;
    color: pink;
    text-align:  center;
    max-width: 400px;
}

.slogan {
    width: 50%;
    display: flex;
    justify-content: center;

    span {
        font-size: 72px;
        line-height: 53px;
        text-align: center;
    }
}