.title {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

img {
    height: 15%;
    width: 20%;
    object-position: center;
}
.image{
    object-position: center;
}

h1 {
    font-size: 15px !important;
    font-family: sans-serif;
    color: black;
    text-align: center;

}

.slogan {
    width: 100%;
    display: flex;
    justify-content: center;

    span {
        font-size: 72px;
        line-height: 53px;
        text-align: center;
    }
}