.title{
    font-size: 40px;
    text-align: center;
}

.description{
    font-size: 40px;
    color: black;
    text-align:  center;
}

.slogan {
    width: 100%;
    display: flex;
    justify-content: center;

    span {
        font-size: 72px;
        line-height: 53px;
        text-align: center;
    }
}