.scroll {
    @media (min-width: 990px) {
        max-height: 91vh;
        overflow-y: scroll;
    }
}

.search-button {
    font-size: calc(1rem + 0.5vw);
}

.filters {
    height: 90vh;
}

@media (max-width: 991px) {
    .filters {
        height: auto;
    }
}

.card:hover {
    cursor: pointer;
}

.match-button {
    border-radius: 5vw;
    border: none;
    color: white;
    background: #99a1ff;
    font-family: Bungee, serif;
    font-size: calc(0.75rem + 0.20vw);
    transition: background 0.3s ease-in-out;
}

.match-button:hover {
    background: rgba(203, 108, 230, 1);
}

.card-title {
    font-size: calc(0.75rem + 0.75vw);
    font-family: Aleo, serif;
    font-style: italic;
}

.card-text {
    font-size: calc(0.5rem + 0.75vw);
    font-family: Aleo, serif;
}