body {
  background-color: #fcfcff !important;
  /*todo: maybe move this to styles.css */
}

#passwordHelp {
  font-size: 12px !important;
}

.submit-button {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-end;

  button {
    width: 20%;
    font-size: 16px;
    background-color: #8c52ff;
    border-radius: 15px;
  }

  button:hover {
    background-color: #cb6ce6;
  }
}

@media (min-width: 992px) {
  .submit-button {
    display: flex;
    margin-left: 104%;

    button {
      width: 40%;
      margin-top: -8%;
      height: 85px;
      font-size: 32px;
      border-radius: 70px;
      z-index: 100;
    }
  }
}

.logo-image {
  width: 100%;
  display: flex;
  justify-content: center;

  img {
    max-width: 362px;
  }
}

.slogan {
  width: 100%;
  display: flex;
  justify-content: center;

  span {
    font-family: Bungee, sans-serif;
    color: #7843e6;
    text-shadow:
      -1px 1px #ff00ff,
      1px -1px #00ffff;
    font-size: 72px;
    line-height: 53px;
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .slogan {
    span {
      font-size: 60px;
      line-height: 45px;
    }
  }
}
